<div style='font-family: Arial, sans-serif; text-align: center; color: #333;'>
  <h1>Welcome to QuickPost!</h1>
  <p style='font-size: 16px;'>Your OTP (One Time Password) is:</p>
  <div
    style='background-color: #f2f2f2; padding: 10px; margin: 20px 0; font-size: 24px; font-weight: bold;'
  >
    {{otp}}
  </div>
  <p style='font-size: 16px;'>This OTP is valid for 10 minutes. Please use it to complete your
    registration.</p>
</div>